.vc_tape {
  margin: 0 auto;
  position: relative;
  // -webkit-transition: all .4s ease-in-out;
  // -moz-transition: all .4s ease-in-out;
  // -o-transition: all .4s ease-in-out;
  // -ms-transition: all .4s ease-in-out;
  // transition: all .4s ease-in-out;
}

.vc_tape_back {
  width: 100%;
  height: 100%;
  position: relative;
}

.vc_tape_wheel {
  position: absolute;
  background: transparent;
  border-radius: 50%;
}

.vc_tape_front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

// .vc_tape_side_b {
//   display: none;
//   -webkit-transform: rotate3d(0, 1, 0, 180deg);
//   -moz-transform: rotate3d(0, 1, 0, 180deg);
//   -o-transform: rotate3d(0, 1, 0, 180deg);
//   -ms-transform: rotate3d(0, 1, 0, 180deg);
//   transform: rotate3d(0, 1, 0, 180deg);
// }

// .vc_tape_front span{
//   color: rgba(0, 0, 0, 0.6);
//   position: absolute;
//   top: 83px;
//   left: 67px;
//   font-family: Arial;
//   font-weight: bold;
//   font-size: 20px;
// }
