.progress_bar_container {
  width: 100%;
}
.progress_bar {
  position: relative;
  float: left;
  width: 85%;
  background: #555;
  margin: 4px 3px 0;
  height: 10px;
  display: block;
  cursor: pointer;
}
.bar_status {
  background: #118C4E;
  position: absolute;
  height: 10px;
}
.progress_status {
  position: relative;
  float: left;
  width: 10%;
  text-align: right;
}
