.panel {
  display: inline-block;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;
  // border: 1px solid gray;
  // text-align: center;
}
.panel-playboard {
  width: 65%;
}
.panel-playlist {
  width: 35%;
}
