.valume_down, .valume_up {
  float:left;
  width: 10%;
  cursor: pointer;
}

.value {
  position: relative;
  float:left;
  width: 70%;
  background: #555;
  margin: 6px 3px 0;
  height: 5px;
  // border-radius: 15px;
  cursor: pointer;
}

.volume_bar {
  position: absolute;
  height: 5px;
  background: #118C4E;
  cursor: pointer;
}
