body {
  margin: 0;
  margin-top: 65px;
  background-color: #e8e8e8;
  font-size: 18px;
  color: #333333;
  font-family: "Hanuman",Arial,serif !important;
}

:global(.app-container) {
  max-width: 1280px;
  margin: 0 auto;
}

@-webkit-keyframes :global(rotateLeft) {
  0% { -webkit-transform: rotate(0deg) translateZ(-1px); }
  100% { -webkit-transform: rotate(-360deg) translateZ(-1px); }
}
@-webkit-keyframes :global(rotateRight) {
  0% { -webkit-transform: rotate(0deg) translateZ(-1px); }
  100% { -webkit-transform: rotate(360deg) translateZ(-1px); }
}
@-moz-keyframes :global(rotateLeft) {
  0% { -moz-transform: rotate(0deg) translateZ(-1px); }
  100% { -moz-transform: rotate(-360deg) translateZ(-1px); }
}
@-moz-keyframes :global(rotateRight) {
  0% { -moz-transform: rotate(0deg) translateZ(-1px); }
  100% { -moz-transform: rotate(360deg) translateZ(-1px); }
}
@-o-keyframes :global(rotateLeft) {
  0% { -o-transform: rotate(0deg) translateZ(-1px); }
  100% { -o-transform: rotate(-360deg) translateZ(-1px); }
}
@-o-keyframes :global(rotateRight) {
  0% { -o-transform: rotate(0deg) translateZ(-1px); }
  100% { -o-transform: rotate(360deg) translateZ(-1px); }
}
@-ms-keyframes :global(rotateLeft) {
  0% { -ms-transform: rotate(0deg) translateZ(-1px); }
  100% { -ms-transform: rotate(-360deg) translateZ(-1px); }
}
@-ms-keyframes :global(rotateRight) {
  0% { -ms-transform: rotate(0deg) translateZ(-1px); }
  100% { -ms-transform: rotate(360deg) translateZ(-1px); }
}
@keyframes :global(rotateLeft) {
  0% { transform: rotate(0deg) translateZ(-1px); }
  100% { transform: rotate(-360deg) translateZ(-1px); }
}
@keyframes (rotateRight) {
  0% { transform: rotate(0deg) translateZ(-1px); }
  100% { transform: rotate(360deg) translateZ(-1px); }
}